body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
header {
    background: #26496e;
    color: #fff;
    padding: 5px 0;
    text-align: left;
    
}

header h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}
.discover-section h2{
    margin-top: 0%;
}
.section {
    margin-bottom: 30px;
    width: 60%;
}
canvas {
    max-width: 100%;
    height: auto;
}

.discover-section {
    text-align: center;
    margin-bottom: 40px;
}

.discover-section h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 500px;
}

.trend-image {
    max-width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}